/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes opacityChange {
    100% {
        opacity: 0.2;
    }
}

@keyframes colorChange {
    70% {
        color: #fff
    }
    100% {
        color: #000
    }
}

.adornBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
}

.contentWrap {
    display: grid;
    gap: 32px;
    position: relative;
    margin: 0 auto;
    background: var(--ifm-color-bg-home);
}

.cardWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}


.card {
    position: relative;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
    text-align: center;
    animation: colorChange 4s linear infinite;
}

.card::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
    animation: rotate 4s linear infinite;
}

.card::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: var(--ifm-color-bg-home);
    border-radius: 5px;
    animation: opacityChange 2s infinite alternate;
}

.title {
    margin: 0;
}

.font {
    max-width: 338px;
}

.text {
    font-size: 16px;
    background-image: linear-gradient(to right, #ff0000, #ff00ff);
    -webkit-background-clip: text;
    color: transparent;
}