/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


.section {
    display: flex;
    max-width: 1000px;
    padding: 20px;
    background: var(--ifm-color-bg-home);
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 var(--ifm-color-first-shadow);
}
